body {
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 12px;
    box-sizing: border-box;
    /*background-image:url("unc_background.jpg");*/
    background-color: rgba(210, 235, 255, 0.2);
    background-size: cover;
}

input {
    min-height: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    line-height: 15px;
    outline: none;
}

input, select {
    width: 100%;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


h1 {
    font-family: Georgia, ‘Times New Roman’, serif;
    font-size: 20px;
    font-weight: 500;
    color: #4b9bd2;
    width: 80%;
    margin-top: 0;
    margin-bottom: 2%;
}

.nav_right h1 {
    text-align: center;
    margin: 5%;
    margin-top: 25%;
}

h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    line-height: 15px;
    color: black;
    top-margin: 10px;
    bottom-margin: 10px;
}

h2.link {
    margin-left: 10px;
}

p {
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    line-height: 12px;
    color: black;
    margin-left: 20px;
}


ul {
    margin: 0%;
    display: block;
    width: 100%;
    padding: 0%;
    position: relative;
    overflow: hidden;
    /*background-color: white;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #4b9bd2;*/
    box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.25);

}

li {
    width: 15%;
    float: left;
    outline: none;
    list-style-type: none;
}

li:hover {
    background-color: #F0F0F0;
}

.button:hover {
    background-color: #F0F0F0;
}

.button:hover > input {
    background-color: #F0F0F0;
    border-color: #F0F0F0
}


a {
    outline: none;
}

a.link {
    text-color: #4b9bd2;
    margin-left: 20px;
}

img {
    height: 100px;
}

.dropzone img {
    margin-bottom: -40px;
}

.select_left {
width: 50%;
float: left;
text-align: center;
}

.select_right {
width: 50%;
float: right;
box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.25);
text-align: center;
}


.main, .menu {
    margin-top: 1%;
    display: block;
    width: 100%;
    padding: 0%;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.row {
    width: 100%;
    padding: 0%;
    overflow: hidden;
}

.nav_left {
    float: left;
    width: 33%;
    text-align: center;
}

.nav_center {
    float: left;
    width: 34%;
    text-align: center;
    box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
}

.nav_right {
    float: right;
    width: 33%;
    text-align: center;
    box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
}


.single_column {
    width: 86%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
    position: relative;

}

.single_column_small {
    width: 57%;
    margin-right: 20%;
    margin-left: 20%;
    float: left;
    position: relative;

}

.break {
    margin-top: 2%;
}


.column {
    width: 38%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
}

.column_wide_left {
    width: 41%;
    margin-right: 1%;
    margin-left: 5%;
    float: left;
}

.column_wide_right {

    width: 41%;
    margin-right: 5%;
    margin-left: 1%;
    float: left;
}

.container {
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.info {
    width: 20px;
    float: right;
    background-color: #FFFFFF;
    font-weight: bold;
    border-style: none;
    font-size: 13px;
    margin: 5px;
    margin-left: 90%;
}

.workzone_tabbed {
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    background-color: #FAFAFA;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    min-height: 148px;
    max-height: 148px;
    overflow: auto;
}

.workzone {
    border-style: solid;
    border-width: thin;
    border-color: #FAFAFA;
    background-color: #FAFAFA;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    min-height: 190px;
}

.dropzone:hover {
    background-color: #F0F0F0;
}

.dropzone {
    border-style: dashed;
    border-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.dropzone [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#comparison_set_files {
    opacity: 0;
    position: absolute;
    width: 100%;
    margin: 0%;
    padding: 0;
    top: 0;
    left: 0;
}

.nav_img {
    max-width: 100%;
    max-height: 50px;
    margin-top: 0%;
    top: 0%;
    left: 0%;
}

.ui-tabs-active {
    background-color: #FAFAFA;
}




