<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


</head>
<body  >

<div class="menu">
    <div class="row">
        <div class="single_column container">

            <div class="nav_left">
                <a href="/"></a>
                <!--<img class="nav_img" src="../static/UNC.jpg"/>-->
                <img class="nav_img" src="{{ url_for('static', filename='UNC.jpg') }}">
            </div>

            <div class="nav_right">
            <a class="fill_div" href="/faq"></a>
                <h1>FAQ</h1>
            </div>

        </div>
    </div>
</div>
<div>
    {% if text %}
    <p>Error: </p>
    <pre>{{ text }}</pre>
    {% else %}
    <p>Error: An unkonwn error was encountered</p>
    <p>Please make note of what led to this message, so it can be fixed later.</p>
    {% endif %}
</div>

</body>
</html>