<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div class="menu">
    <div class="row">
        <div class="single_column container">

            <div class="nav_left">
                <a href="/"></a>
                <!--<img class="nav_img" src="../static/UNC.jpg"/>-->
                <img class="nav_img" src="{{ url_for('static', filename='UNC.jpg') }}">
            </div>

            <div class="nav_right">
                <a class="fill_div" href="/faq"></a>
                <h2>About</h2>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="container single_column">

        <h2>User Manual</h2>
        <p>Step 1: Upload the fasta file you are interesting in analyzing using SEEKR</p><br>
        <p>Step 2: Choose the set of sequences to compare your file to by either selecting on of the saved options or choosing to upload another file</p><br>
        <p>Step 3: Choose your normalization set</p><br>
        <p>Step 4: Choose your Kmer count (warning Kmers larger than 5 may not run when using the saved Gencode sets, due to resource limitations on the server)</p><br>
        <p>Step 5: Press the submit button and select where you would like the result files to be saved</p><br>
    </div>
</div>


</body>
</html>