<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEEKR</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='external/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
    <!--<script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>-->
    <!--<script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>-->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='savePNG.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->

    <!--<script type="text/javascript" src="../static/jquery-3.2.1.js"></script>-->
    <!--<script type="text/javascript" src="../static/main.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<body>

<div id="main-tabs" class="row">

    <div class="menu">
        <div class="row">
            <div class="single_column container">

                <div class="nav_menu">
                    <a href="/"></a>
                    <!--<img class="nav_img" src="../static/UNC.jpg"/>-->
                    <img class="nav_img" src="{{ url_for('static', filename='UNC.jpg') }}">
                </div>

                <ul class="row">
                    <li class="tab nav_left"><a href="#main"><h2>Run Seekr</h2></a></li>
                    <li class="tab tab2 nav_center"><a href="#visual"><h2>Results</h2></a></li>
                    <li class="tab tab3 nav_right"><a href="#help"><h2>Help</h2></a></li>
                </ul>

            </div>
        </div>
    </div>

    <!--------------------------------------------------------->
    <!--------------------------------------------------------->
    <div id="main" class="main">


        <div class="row">

            <div class="column">
                <h1>User Set</h1>
            </div>

            <div class="column">
                <h1>Comparison Set</h1>
            </div>
        </div>

        <div class="row">

            <div id="input_set" class="column container">

                <div class="row">
                    <div class="dropzone workzone">

                        <form id="user_set_form" method="post" enctype="multipart/form-data">

                            <input type="file" name="file" id="user_set_files">

                            <h2>Drag and Drop .fa File Here or Click to Upload</h2>

                            <!--<img src="../static/dragndrop.svg">-->
                            <img src="{{ url_for('static', filename='dragndrop.svg') }}">

                            <h2 id="user_file_text"></h2>

                        </form>
                    </div>
                </div>

                <p id="user_warning" class="warning">Warning: This set contains too many sequences to visualize.</p>
            </div>


            <div id="comparison_set" class="column container">

                <div class="row">
                    <ul>
                        <li class="tab select_left"><a href="#select_file"><h2>Select Set</h2></a></li>

                        <li class="tab tab2 select_right"><a href="#upload_file"><h2>Upload Set</h2></a></li>

                    </ul>
                </div>



                <div id="select_file"class="row">
                    <div class="workzone_tabbed">
                        <div class="row">
                            <h2>Select Comparison Set</h2>
                        </div>

                        <select name="comparison_set_reference" id="comparison_set_reference">
                            <option value="gencode_human_set">All Human (Gencode)</option>
                            <option value="gencode_mouse_set">All Mouse (Gencode)</option>
                            <option value="user_set" selected="selected">User Set</option>
                        </select>
                    </div>
                </div>

                <div id="upload_file" class="row">
                    <div class="dropzone workzone_tabbed">
                        <form id="comparison_set_form" method="post" enctype="multipart/form-data">

                            <input type="file" name="file" id="comparison_set_files">

                            <h2>Drag and Drop .fa File Here or Click to Upload</h2>

                            <!--<img src="../static/dragndrop.svg">-->
                            <img src="{{ url_for('static', filename='dragndrop.svg') }}">

                            <h2 id="comparison_file_text"></h2>

                        </form>
                    </div>
                </div>

                <p id="comparison_warning" class="warning">Warning: This set contains too many sequences to visualize.</p>
            </div>
        </div>


        <div class="row break">

            <div class="single_column_small">
                <h1>SEEKR Settings</h1>
            </div>
        </div>

        <div class="row">

            <div class="single_column_small container">

                <div class="row">

                    <div class="column">
                        <h2>Select Normalization Set</h2>
                    </div>

                    <div class="column">
                        <select name="normal_set" id="normal_set">
                            <option value="gencode_human_set" selected="selected">All Human (Gencode)</option>
                            <option value="gencode_mouse_set">All Mouse (Gencode)</option>
                            <option value="user_set">User Set</option>
                        </select>
                    </div>
                </div>

                <div class="row">

                    <div class="column">
                        <h2>Select Kmer Length</h2>
                    </div>

                    <div class="column">
                        <select id="kmer_length" name="kmer_length">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select>
                    </div>
                </div>
                <p id="kmer_warning" class="warning">Warning: This kmer length is too large to visualize.</p>
            </div>
        </div>

        <div class="row break"></div>

        <div class="row">
            <div class="container single_column_small button">

                <input id="submit" type="submit" value="Submit">

            </div>
        </div>
    </div>

    <!--------------------------------------------------------->
    <!--Visualization Tab-->
    <!--------------------------------------------------------->
    <div id="visual" class="row">

        <div id="empty_message" class="single_column"><p>Please run SEEKR to populate this tab</p></div>

        <!--div is hidden until algorithm is run-->
        <div id="results_toggle">

            <!--contains the tab buttons for displaying each visual-->
            <div class="row">
                <div class="single_column container">

                    <ul class="row">
                        <li class="tab sub_select_left"><a href="#pearson"><h2>Sequence Pearson Correlation Matrix</h2></a></li>
                        <li class="tab tab2 sub_select_right"><a href="#kmer"><h2>Sequence Kmer Profiles Matrix</h2></a></li>
                    </ul>

                </div>
            </div>

            <div class="row break"></div>

            <!--Pearson Correlation visual-->
            <div id="pearson" class="row">

                <div class="row">
                    <div class="single_column">
                        <h1>Pearson Correlations for User Set x Comparison Set</h1>
                    </div>
                </div>

                <!--Button tools for saving and re-ordering graph-->
                <div class="row">
                    <div class="single_column container">
                        <h3 class="visual_desc">Click on the axis labels to re-order the graph</h3>
                        <input id="pearson_save" class="tool" type="button" value="Save as .csv">
                        <input id="pearson_reset" class="tool" type="button" value="Reset Ordering">
                    </div>
                </div>


                <div id="pearson_chart" style='overflow:auto;'></div>
            </div>

            <!--Kmer Profile visual-->
            <div id="kmer" class="row">

                <div class="row">
                    <div class="single_column">
                        <h1>Normalized Kmer Counts for User Set</h1>
                    </div>
                </div>

                <!--Button tools for saving and reordering visual-->
                <div class="row">
                    <div class="single_column container">
                        <h3 class="visual_desc">Click on the axis labels to re-order the graph</h3>
                        <!--<input id="kmer_png" class="tool" type="button" value="Save as .png">-->
                        <input id="kmer_save" class="tool" type="button" value="Save as .csv">
                        <input id="kmer_reset" class="tool" type="button" value="Reset Ordering">
                    </div>
                </div>

                <div id="kmer_chart" style="overflow: auto;"></div>

            </div>

            <!--Toolstips are show using d3 to display hover info-->
            <div id="pearson_tooltip" class="hidden tooltip">
                <p><span id="p_value"></span></p>
            </div>

            <div id="kmer_tooltip" class="hidden tooltip">
                <p><span id="k_value"></span></p>
            </div>
        </div>

        <div id="nv_downloads" class="row">

            <div class="break"></div>

            <div class="row">
                <div class="single_column">
                    <h1>Download Result Matrixes</h1>
                </div>
            </div>

            <div class="row">
                <div class="single_column container">
                    <input id="nv_pearson_save" class="tool_download" type="button" value="Save Pearson Correlation Matrix as .csv">
                    <input id="nv_kmer_save" class="tool_download" type="button" value="Save Kmer Profiles Matrix as .csv">
                </div>
            </div>
        </div>
    </div>



    <!--------------------------------------------------------->
    <!--Help Page---------------------------------------------->
    <!--------------------------------------------------------->
    <div id="help" class="main">

        <div class="row">

            <div class="single_column">
                <h1>User Manual</h1>
            </div>
        </div>

        <div class="row">

            <div class="single_column container">
                <h2 class="link">Step 1: </h2>
                <p>Upload the fasta file you are interesting in analyzing using SEEKR</p><br>
                <a class="link" href="/static/sample_fasta_2.fa">Click here to download a sample Fasta file of 2 sequences to run SEEKR with</a><br>
                <a class="link" href="/static/sample_fasta_15.fa">Click here to download a sample Fasta file of 15 sequences to run SEEKR with</a><br>
                <h2 class="link">Step 2: </h2><p>Choose the set of sequences to compare your file to by either selecting on of the saved options or choosing to upload another file</p><br>
                <h2 class="link">Step 3: </h2><p>Choose your normalization set</p><br>
                <h2 class="link">Step 4: </h2><p>Choose your Kmer count (warning Kmers larger than 5 may not run when using the saved Gencode sets, due to resource limitations on the server)</p><br>
                <h2 class="link">Step 5: </h2><p>Press the submit button and select where you would like the result files to be saved</p><br>
            </div>
        </div>
    </div>
</div>

<div class="single_column_small">
    <p id="loading">processing...</p>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='visual.js') }}"></script>


</body>
</html>