<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEEKR</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='external/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!--<script type="text/javascript" src="../static/jquery-3.2.1.js"></script>-->
    <!--<script type="text/javascript" src="../static/main.js"></script>-->

    <!--<link rel="stylesheet" type="text/css" href="../static/main.css">-->

</head>
<body  >

<div id="main-tabs" class="row">

<div class="menu">
    <div class="row">
        <div class="single_column container">

            <div class="nav_left">
                <a href="/"></a>
                <!--<img class="nav_img" src="../static/UNC.jpg"/>-->
                <img class="nav_img" src="{{ url_for('static', filename='UNC.jpg') }}">
            </div>
            <ul class="row">


        <li class="tab nav_left"><a href="#main"><h2>Run Seekr</h2></a></li>

        <li class="tab tab2 nav_center"><a href="#visual"><h2>Results</h2></a></li>

        <li class="tab tab3 nav_right"><a href="#help"><h2>Help</h2></a></li>


    </ul>

        </div>
    </div>
</div>


    <div id="main" class="main">


        <div class="row">

            <div class="column">
                <h1>User Set</h1>
            </div>

            <div class="column">
                <h1>Comparison Set</h1>
            </div>
        </div>

        <div class="row">

            <div id="input_set" class="column container">

                <div class="row">
                    <div class="dropzone workzone">

                        <form id="user_set_form" method="post" enctype="multipart/form-data">

                            <input type="file" name="file" id="user_set_files">

                            <h2>Drag and Drop Files Here or Click to Upload</h2>

                            <!--<img src="../static/dragndrop.svg">-->
                            <img src="{{ url_for('static', filename='dragndrop.svg') }}">

                            <h2 id="user_file_text"></h2>

                        </form>
                    </div>
                </div>
            </div>


            <div id="comparison_set" class="column container">

                <div class="row">
                    <ul>
                        <li class="tab select_left"><a href="#select_file"><h2>Select Set</h2></a></li>

                        <li class="tab tab2 select_right"><a href="#upload_file"><h2>Upload Set</h2></a></li>

                    </ul>
                </div>



                <div id="select_file"class="row">
                    <div class="workzone_tabbed">
                        <div class="row">
                            <h2>Select Comparison Set</h2>
                        </div>
                        <select name="comparison_set_reference" id="comparison_set_reference">
                            <option value="gencode_human_set" selected="selected">All Human (Gencode)</option>
                            <option value="gencode_mouse_set">All Mouse (Gencode)</option>
                            <option value="user_set">User Set</option>
                        </select>
                    </div>
                </div>

                <div id="upload_file" class="row">
                    <div class="dropzone workzone_tabbed">
                        <form id="comparison_set_form" method="post" enctype="multipart/form-data">

                            <input type="file" name="file" id="comparison_set_files">

                            <h2>Drag and Drop Files Here or Click to Upload</h2>

                            <!--<img src="../static/dragndrop.svg">-->
                            <img src="{{ url_for('static', filename='dragndrop.svg') }}">

                            <h2 id="comparison_file_text"></h2>

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="single_column_small">
                <h1>SEEKR Settings</h1>
            </div>
        </div>

        <div class="row">

            <div class="single_column_small container">

                <div class="row">

                    <div class="column">
                        <h2>Select Normalization Set</h2>
                    </div>

                    <div class="column">
                        <select name="normal_set" id="normal_set">
                            <option value="gencode_human_set" selected="selected">All Human (Gencode)</option>
                            <option value="gencode_mouse_set">All Mouse (Gencode)</option>
                            <option value="user_set">User Set</option>
                        </select>
                    </div>
                </div>

                <div class="row">

                    <div class="column">
                        <h2>Select Kmer Length</h2>
                    </div>

                    <div class="column">
                        <select id="kmer_length" name="kmer_length">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="container single_column_small button">

                <input id="submit" type="submit" value="Submit">

            </div>
        </div>
    </div>


    <div id="visual" class="main">

        <div class="row">
            <div class="column_wide_left">
                <h1>User Set</h1>
            </div>

            <div class="column_wide_right">
                <h1>Comparison Set</h1>
            </div>

        </div>

        <div class="row">

            <div id="heatmap" class="container column_wide_left">


            </div>

            <div id="kmermap" class="container column_wide_right">


            </div>
        </div>

    </div>




    <div id="help" class="main">

        <div class="row">

            <div class="single_column">
                <h1>User Manual</h1>
            </div>
        </div>

        <div class="row">

            <div class="single_column container">
                <h2 class="link">Step 1: </h2>
                <p>Upload the fasta file you are interesting in analyzing using SEEKR</p><br>
                <a class="link" href="/static/sample_fasta.fa">Click here to download a sample Fasta file to run SEEKR with</a><br>
                <h2 class="link">Step 2: </h2><p>Choose the set of sequences to compare your file to by either selecting on of the saved options or choosing to upload another file</p><br>
                <h2 class="link">Step 3: </h2><p>Choose your normalization set</p><br>
                <h2 class="link">Step 4: </h2><p>Choose your Kmer count (warning Kmers larger than 5 may not run when using the saved Gencode sets, due to resource limitations on the server)</p><br>
                <h2 class="link">Step 5: </h2><p>Press the submit button and select where you would like the result files to be saved</p><br>
            </div>
        </div>
    </div>
</div>





</body>
</html>